<div id="container">
    <div class="row-fluid">

        <form class="form-horizontal span12 addWeekForm" class="newWeek">
            <div class="row">
                <div class="span8">
                    <div class="control-group">
                        <div class="insWeekText">Inserisci settimana per team <%= name %></div>
                        <input class="teamId" name="id" type="hidden" value="<%= _id %>" />
                        <label for="week_from" class="control-label">Week:</label>

                        <input type="text" class="week_from" name="week_from" />

                        <span class="help-inline"></span>
                        <div class="form-actions addWeekButton">
                            <a href="#" class="btn btn-primary add">Add</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid status-bar">
        <div class="span12">
            <div class="alert alert-success <%= _id %>" style="display: none">
                <b>Success!</b> Week saved successfully
            </div>
        </div>
    </div>

    <% 
    _.each(scores, function(score){ 
        %>

        <div class="jumbotron">
            <div><a href="#results/<%= name %>"><%= name %></a> <%= insDate %></div>
            <div class="stars" id="id_<%= _id %>_<%= score.week_from.replace(/\//g,"_") %>" data-mongoid="<%= _id %>" data-weekfrom="<%= score.week_from.replace(/\//g,"_") %>">
                <p>from <%= score.week_from %></p><p> Week Points: <span class="points"><%= score.points %></span></p>
                <% for(var i=0;i<score.points;i++) { %>
                <span class="glyphicon glyphicon-star"></span>

                <% }
                if(score.points<10) {
                    for(var i=score.points;i<10;i++) { %>
                    <span class="glyphicon glyphicon-star-empty<%= (i===score.points) ? " clickable" : "" %><%= (i===9) ? " last" : "" %>"></span>
                    <% } 
                } else { %>
                    <span class="glyphicon glyphicon-star-empty clickable last"></span>
                <% } %>
            </div>
        </div>
        <% 
        });
        %>

    </div>