
<% 
_.each(scores, function(score){ 
%>

	<div class="jumbotron">
		<div><%= name %> <%= insDate %></div>
		<div data-mongoid="<%= _id %>" data-weekfrom="<%= score.week_from.replace(/\//g,"_") %>">
		<p>from <%= score.week_from %></p><p> Week Points: <span class="points"><%= score.points %></span></p>
		<% for(var i=0;i<score.points;i++) { %>
			<span class="glyphicon glyphicon-star"></span>

		<% }
		for(var i=score.points;i<10;i++) { %>
			<span class="glyphicon glyphicon-star-empty"></span>

		<% } %>
		</div>
	</div>
<% 
});
%>